{% extends 'course.html' %}
{% load static %}

{% block main %}
	<div id="main">
		<div class="inner">
		<!-- Header -->
			<header id="header">
				<a href="course.html" class="logo"><strong>Al Notes</strong> </a>

			</header>

<!-- Section -->
<div id = "note-list" style="margin-top:10px" class="row">
{% for note in textnotes %}
<section class="col-sm-4">
		<header class="major">
			<img src="{% static 'img/txt.png' %}" style="height:100px; width:100px"> 
			<a href="{% url 'get_text_note' note.id note.course_id identity%}"><h3>{{note.filename}}
					{% if note.access_type == "private" %}
					<span class="btn-secondary"> Private</span>
				    <a href="{% url 'make_public' note.id identity %}"><button class="btn btn-default">Make Public</button></a>
					{% endif %}
				    {% if note.access_type == "public" %}
				    <a href="{% url 'make_private' note.id identity %}"><button class="btn btn-default">Make Private</button></a>
					{% endif %}
			</h3></a>
			<a href="{% url 'download_txt' note.filename %}"><button class="btn btn-default">Download</button></a>
            <p> Course : <em>{{note.course.number}}{{note.course.name}}</em></p>
		</header>
		<div class="features">
		</div>

	</section>
{% endfor %}
{% for note in notes %}
<section class="col-sm-4">
		<header class="major">
				<img src="{% static 'img/pdf.png' %}" style="height:100px; width:100px">
			<a href="{% url 'get_pdf' note.id identity %}"><h3>{{note.filename}}
				{% if note.access_type == "private" %}
				<span class="btn-secondary"> Private</span>
				<a href="{% url 'make_pdf_public' note.id identity %}"><button class="btn btn-default">Make Public</button></a>
				{% endif %}
				{% if note.access_type == "public" %}
				<a href="{% url 'make_pdf_private' note.id identity %}"><button class="btn btn-default">Make Private</button></a>
				{% endif %}
			</h3></a>
			<a href="{% url 'download_pdf' note.filename %}"><button class="btn btn-default">Download</button></a>
            <p> Course : <em>{{note.course.number}}{{note.course.name}}</em></p>
		</header>
		<div class="features">
		</div>
	</section>
{% endfor %}
</div>
</div>
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
<div class="inner">
<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li><a href="{% url 'all_courses' identity %}">All Courses</a></li>
    </ul>
</nav>
</div>
</div>
{% endblock %}