{% extends 'course.html' %}
{% load static %}

{% block main %}
	<div id="main">
		<div class="inner">
		<!-- Header -->
			<header id="header">
				<a href="course.html" class="logo"><strong>Al Notes</strong> </a>

			</header>

<!-- Section -->
<div id = "note-list" style="margin-top:10px" class="row">
{% for note in textnotes %}
<section class="col-sm-4">
		<header class="major">
			<img src="{% static 'img/txt.png' %}" style="height:100px; width:100px">
            <a href="{% url 'get_text_note' note.id note.course_id identity%}"><h3>{{note.filename}}</h3></a>
			<a href="{% url 'download_txt' note.filename %}"><button class="btn btn-default">Download</button></a>
			<p> Author : <em>{{note.author.username}}</em></p>
            <p> Course : <em>{{note.course.number}}{{note.course.name}}</em></p>
		</header>
		<div class="features">
			<!-- <a href="#" class="button">Edit Note</a>
					 -->
		</div>

	</section>
{% endfor %}
{% for note in notes %}
<section class="col-sm-4">
		<header class="major">
				<img src="{% static 'img/pdf.png' %}" style="height:100px; width:100px">
			<a href="{% url 'get_pdf' note.id identity %}"><h3>{{note.filename}}</h3></a>
			<a href="{% url 'download_pdf' note.filename %}"><button class="btn btn-default">Download</button></a>
			<p> Author : <em>{{note.author.username}}</em></p>
            <p> Course : <em>{{note.course.number}}{{note.course.name}}</em></p>
		</header>
		<div class="features">
				<!-- <a href="#" class="button">Edit Note</a> -->
		</div>
	</section>
{% endfor %}
</div>
</div>
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
<div class="inner">
<nav id="menu">
	<header class="major">
		<h2>Menu</h2>
	</header>
	<ul>
		<li><a href="{% url 'all_courses' identity %}">All Courses</a></li>
    </ul>
</nav>
    <section>
	<header class="major">
		<h2>Contact Us</h2>
	</header>
	<p>If you have any question about Note++, please feel free to contact us! You are always welcome to provide any feedback to us!</p>
	<ul class="contact">
		<li class="fa-envelope-o"><a href="#">note++@andrew.cmu.edu</a></li>
		<li class="fa-phone">(000) 000-0000</li>
		<li class="fa-home">5000 Forbes Ave<br />
		PA, 15213</li>
	</ul>
</section>
</div>
</div>
{% endblock %}