{% extends "index_base.html" %}
{% block action %}
<header class="major">
    <h2>Create A Course</h2>
  </header>
    <!-- Button trigger modal -->
    <button type="button" style="font-size:1.5em" class="btn" data-toggle="modal" data-target="#exampleModal">
        Create course
      </button>
{% endblock %}
{% block courses %}
{% load static %}

<article>
  
  <!-- Modal -->
  {#<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create a Course</h5>
        </div>
        <div class="modal-body">
          <form class="form-signin" method="POST">
                    <p class="h3 mb-3 font-weight-normal" id="signin">Please fill in course name and number to create a course</p>
                    <div id="errors" ></div>
                    {{ form.name }}
                    {{ form.number }}
                    <button class="btn" type="button" id="create_course">Create</button>
                    {% csrf_token %}
                  </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  </article>
<div class="posts">
{% for course in courses %}
<article>
	<a href="{% url 'course' course.id identity %}" class="image"><img src="../../static/img/pic08.jpg" alt="" /></a>
  <span class="course-info">    
      <h1>{{course.number}}</h1>
     <h3>{{course.name}}</h3></span> 
	<ul class="actions">
		<li><a href="{% url 'course' course.id identity %}" class="button">See Notes</a></li>
	</ul>
</article>
{% endfor %}


</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/index_prof.js'%}"></script>
{% endblock %}