{% extends "index_base.html" %}
{% block action %}
<header class="major">
    <h2>Click Save Button </h2>
  </header>
    <!-- Button trigger modal -->
    <button id = "join-btn" style="font-size:1.5em;" >
        Save Choice
      </button>
{% endblock %}
{% block courses %}
<header class="major h3"> All Courses </header>
{% load static %}
<form action = "{% url 'save_choice' identity %}" method="POST">
  {% csrf_token %}
    <button type="submit" id = "save-btn" style="display:none">Save Choice</button>
<div class="posts">
    {% for course in courses %}
    <article>
        <a href="{% url 'course' course.id identity %}" class="image"><img src="../../static/img/pic09.jpg" alt="" /></a>
        <h3>{{course.number}}</h3>
        <p>{{course.name}}</p>
        <ul class="actions">
          {% if course in cschosen %}
              <input type = "hidden" id = "chosen" name = "{{course.number}}chosen" value = "T">
          <li><button class="btn btn-danger btn-join" style="background-color:#d9534f">Joined</button></li>
          {% else %}
              <input type = "hidden" id = "chosen" name = "{{course.number}}chosen" value = "F">
          <li><button class="btn btn-danger btn-join" style="background-color:#ffffff; color:#d9534f">Join In</button></li>
          {% endif %}
          <li><button class="btn btn-secondary btn-cancel">Cancel</button></li>
        </ul>
    </article>
    {% endfor %}

</div>
</form>
{% endblock %}
{% block js %}
<script src="{% static 'js/index_student.js'%}"></script>

{% endblock %}