{% extends "index_base.html" %}
{% block courses %}
{% load static %}

<form action = "{% url 'save_choice' identity %}" method="POST">
  {% csrf_token %}
    <button type="submit" class="btn btn-default" >Save Choice</button>
<div class="posts">
    {% for course in courses %}
    <article>
        <a href="{% url 'course' course.id identity %}" class="image"><img src="../../static/img/pic09.jpg" alt="" /></a>
        <h3>{{course.number}}</h3>
        <p>{{course.name}}</p>
        <ul class="actions">
          <input type = "hidden" id = "chosen" name = "{{course.number}}chosen" value = "F">
          {% if course in cschosen %}
          <li><button class="btn btn-danger btn-join" style="background-color:rgb(241, 102, 21)">Joined</button></li>
          {% else %}
          <li><button class="btn btn-danger btn-join" style="background-color:#d9534f">Join In</button></li>
          {% endif %}
          <li><button class="btn btn-danger btn-cancel">Cancel</button></li>
        </ul>
    </article>
    {% endfor %}

</div>
</form>
{% endblock %}
{% block js %}
<script src="{% static 'js/index_student.js'%}"></script>

{% endblock %}